<div fxLayout="column" fxLayoutAlign="start">
    <md-toolbar color="warn">
        Area notifiche
    </md-toolbar>
    <md-card>
        <md-list dense>
            <md-list-item *ngFor="let notifica of notifiche">
                <h3 md-line><b>{{notifica.title}}</b></h3>
                <p md-line>
                    <span> {{notifica.body}} </span>
                </p>
            </md-list-item>
        </md-list>
    </md-card>
</div>



