<div class="flex-container"
     fxLayout="column"
     fxLayoutAlign="start"
>
    <md-toolbar color="warn">
        Invia notifica
    </md-toolbar>
    <md-card>
        <div fxLayout="column" fxLayoutAlign="start">
            <md-input-container>
                <input [(ngModel)]="notifica.titolo" mdInput placeholder="Titolo"/>
            </md-input-container>
            <md-input-container>
                <textarea [(ngModel)]="notifica.contenuto" mdInput placeholder="Contenuto"></textarea>
            </md-input-container>
            <md-input-container *ngIf="notifica.tipoDestinatario=='token'">
                <input [(ngModel)]="notifica.destinatario" mdInput placeholder="Token"/>
            </md-input-container>
            <md-input-container *ngIf="notifica.tipoDestinatario=='topic'">
                <input [(ngModel)]="notifica.destinatario" mdInput placeholder="Topic"/>
            </md-input-container>
            <md-radio-group [(ngModel)]="notifica.tipoDestinatario">
                <md-radio-button value="token">Token</md-radio-button>
                <md-radio-button value="topic">Topic</md-radio-button>
            </md-radio-group>
            <br/>
            <div fxLayout="row" fxLayoutGap="10px">
                <button md-raised-button color="primary" fxFlex="30%"
                        (click)="inviaNotifica()">Invia notifica
                </button>
                <button md-raised-button color="warn" fxFlex="30%"
                        (click)="resetForm()">Reset
                </button>
            </div>
        </div>
    </md-card>
</div>

