<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
  <div fxFlex="40%"  fxLayout="column" fxLayoutGap="10px">
    <app-chatbox #chatbox></app-chatbox>
  </div>
  <div fxFlex="40%"  fxLayout="column" fxLayoutGap="10px">
    <app-chat-configurator (onConfigSave)="onConfigSave($event)"></app-chat-configurator>
  </div>
</div>
