<div fxLayout="column" fxLayoutGap="10px">
  <app-info-notifiche fxFlex="20%"></app-info-notifiche>
  <div fxLayout="row" fxLayout.xs="column"
       fxLayoutGap="10px"
       fxLayoutAlign="start">
      <app-area-notifiche fxFlex="50%" fxFlex.xs="50%"></app-area-notifiche>
      <app-area-invio-notifiche fxFlex="50%" fxFlex.xs="50%"></app-area-invio-notifiche>
  </div>
</div>
