<h1 md-dialog-title>Nuovo utente</h1>
<md-dialog-content>
  <div fxLayout="column">
    <md-input-container>
      <input mdInput type="number" [(ngModel)]="utente.id" placeholder="ID"/>
    </md-input-container>
    <md-input-container>
      <input mdInput type="text" [(ngModel)]="utente.username" placeholder="Username"/>
    </md-input-container>
    <md-input-container>
      <input mdInput type="email" [(ngModel)]="utente.email" placeholder="E-Mail"/>
    </md-input-container>
    <md2-datepicker [(ngModel)]="utente.dataNascita"
                    placeholder="Data di Nascita"></md2-datepicker>

  </div>
</md-dialog-content>
<md2-dialog-footer>
  <button md-raised-button md-dialog-close color="primary" (click)="salvaUtente()">OK</button>
  <button md-raised-button md-dialog-close color="warn">Annulla</button>
</md2-dialog-footer>
