<md-toolbar color="primary" id="main-toolbar">
  <span>SAL Firebase</span>
  <a routerLink="/fcm" md-button>Cloud Messaging</a>
  <a routerLink="/database" md-button>Database</a>
  <a routerLink="/remote-configuration" md-button>Remote configuration</a>
  <a routerLink="/chat" md-button>Chat</a>
</md-toolbar>
<section id="main-section">
  <router-outlet></router-outlet>
</section>
