<div fxLayout="column" fxLayoutAlign="start">
    <md-toolbar color="warn">
        Info Client Notifiche
    </md-toolbar>
    <md-card>
        <div>Token:</div>
        <div>{{token}}</div>
        <div>
            <md-input-container style="width:40%">
                <input mdInput type="text" #topicInput/>
            </md-input-container>
            <button md-raised-button color="primary" (click)="registraTopic(topicInput.value)">Registra al topic</button>
        </div>
    </md-card>
</div>
