.chatbox {
  padding:30px 0;
  overflow-x: auto;
  min-height: 600px;
  max-height: 600px;
}

.chatbox .chat-message {
  word-wrap: break-word;
  min-height:20px;
  height:auto;
}

.chatbox .chat-message.in {
  background-color: #ece5dd;
}
.chatbox .chat-message.out {
  background-color: #dcf8c6;
}

.input-area {
  margin-top:10px;
}
