{{token}}
<div #chatBox class="mat-elevation-z5 chatbox">
  <div fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row" *ngFor="let messaggio of messaggi" fxLayoutAlign="{{messaggio.source=='in'?'start':'end'}}">
      <md-card fxFlex="70%" class="chat-message {{messaggio.source}}">{{messaggio.content}}</md-card>
    </div>
  </div>
</div>
<div fxLayout="row" class="input-area">
  <md-input-container fxFlex="100%">
    <input mdInput fxFlex="80%" type="text" [(ngModel)]="nuovoMessaggio" placeholder="Messaggio"/>
  </md-input-container>
  <button md-icon-button type="submit" (keyup.enter)="inviaMessaggio()" (click)="inviaMessaggio()" color="primary">
    <md-icon>send</md-icon>
  </button>
</div>
