<div fxLayout="column" fxLayoutAlign="start">
  <md-toolbar color="warn">
    <span>Utenti</span>
    <span fxFlex="1"></span>
    <button md-icon-button class="right_button" (click)="apriPopupNuovoUtente();">
      <md-icon>person_add</md-icon>
    </button>
  </md-toolbar>
  <md-card>

    <table fxFlex="100%" [md2Data]="utenti"
           #md2="md2DataTable"
           [activePage]="activePage">
      <thead>
      <tr>
        <th md2SortBy="nome">ID</th>
        <th md2SortBy="cognome">Username</th>
        <th md2SortBy="email">Email</th>
        <th md2SortBy="dataNascita">Data di nascita</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let utente of utenti">

        <td>{{utente.id}}</td>
        <td>{{utente.username}}</td>
        <td>{{utente.email}}</td>
        <td>{{utente.dataNascita | date: 'dd/MM/yyyy'}}</td>
      </tr>
      </tbody>
    </table>
  </md-card>

</div>
